<%= form_for(@day_bitch), url: {action: "process_vote"} do |f| %>
    <h2>Anketa Kurva dně</h2>
  <div class="field">
    <%= f.label :bitch_id, 'Vyberte profesora/profesorku' %><br>
    <%= f.collection_select :bitch_id, @bitches, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit 'Hlasovat' %>
  </div>
<% end %>