<h1>Seznam zkoušení</h1>

<%= link_to 'Nové zkoušení', new_raking_exam_path %>

<%= render partial: "_generic_utu_partials/index", locals: { items: @rakings } %>

<%= link_to 'Nové zkoušení', new_raking_exam_path %>