<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Zapomněli jste heslo?</h1>
        <p>
            Přijali jsme žádost na změnu hesla na webu <a href="http://utu.herokuapp.com">UTU</a> pro účet <%= @user.email %> (<%= @user.name %>)
        </p>
        <p>
            Pro změnu Vašeho hesla použijte následující odkaz
            <br />
            <%= @url %>
        </p>
        <p>
            Pokud jste o změnu hesla nežádali, pak tento email ignorujte.
        </p>
    </body>
</html>