<h1>Upravit motorku</h1>

<%= render 'form' %>

<%= link_to 'Zobrazit', @planned_raking_list %> |
<%= link_to 'Úprava seznamu zkoušených (změna pořadí apod.)', admin_show_planned_raking_lists_path(@planned_raking_list) %> |
<%= link_to 'Zpět na seznam', planned_raking_lists_path %>
