<table class="timetable">

	<% timetable.get_current_week_days.each do |day| %>
		<%= render day, date: true, blank_hours: true %>
	<% end %>

</table>

<table class="timetable">

	<% timetable.get_next_week_days.each do |day| %>
		<%= render day, date: true, blank_hours: true %>
	<% end %>

</table>