<p id="notice">
	<%= notice %>
</p>
<table id="timetable">

	<% @timetable.school_days.each do |day| %>
		<%= render day %>
	<% end %>

</table>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>
