<h1>Rozvrh</h1>

<% if logged_in? %>
    <p>Rozvrhy jsou přizpůsobeny pro aktuálního uživatele a jeho vybrané skupiny</p>
    <% @timetables.each do |timetable| %>
        <div class="timetables_summary_timetable_link">
        <%= link_to timetable.sgroups.pluck(:name).to_sentence, timetable, remote: true, format: :js, id: timetable.id %>
        </div>
    <% end %>
    <div id="timetable_placeholder">
      <%= render partial: "timetable", locals: { timetable: @timetables.first } %>
    </div>
<% else %>
    <p>Zobrazuje se pouze výchozí rozvrh pro Vaši třídu. Pro zobrazení jednotlivých skupin se
      prosím <%= link_to 'přihlašte', login_path %></p>
    <%= render partial: "timetable", locals: { timetable: @timetables.first } %>
<% end %>

<p>Rozvrhy jsou obnovovány každých 30 minut z bakalářů.</p>
