@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 2, C:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, C:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

/* line 15, C:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, C:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 27, C:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
/* line 7, C:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/summary.css.scss */
.service h3 {
  padding-bottom: 0px;
  margin-bottom: 0.3em;
}

/* line 12, C:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/summary.css.scss */
.details_block div {
  width: 370px;
  word-wrap: break-word;
  background-color: none;
  margin-left: 8px;
  margin-right: 8px;
}

/* line 21, C:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/summary.css.scss */
.details td {
  vertical-align: top;
}

/* line 25, C:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/summary.css.scss */
.service {
  padding-bottom: 1em;
}

/* Main frames */
/* line 8, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
body {
  margin: 0px;
  padding: 0px;
  background-color: #48b040;
  width: 100%;
  overflow-y: scroll;
}

/* line 15, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary {
  margin: 0px auto;
  width: 1200px;
  /* Details */
}
/* line 19, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary #header {
  padding-top: 1em;
  height: 7em;
  background-color: #48b040;
}
/* line 28, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary #details h3 {
  margin-bottom: 1.2em;
}
/* line 33, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary .hide_or_reveal {
  float: right;
  margin-right: 15px;
}
/* line 38, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary #menu {
  background-color: #48b040;
  height: 2em;
  width: 40.6em;
  text-align: center;
  margin-top: 0.7em;
  margin-bottom: 7em;
  margin-left: auto;
  margin-right: auto;
}
/* line 48, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary #menu li {
  display: inline;
}
/* line 51, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary #menu ul {
  padding-top: 0.3em;
  padding-left: 0.6em;
  margin: 0;
  float: left;
  list-style-type: none;
}
/* line 58, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary #menu a {
  text-align: center;
  float: left;
  width: 10em;
  color: white;
  text-decoration: none;
  padding-bottom: 0.2em;
}
/* line 67, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary #main {
  padding: 4px 15px;
  background-color: white;
  color: #3c3c3c;
  height: auto;
}
/* line 73, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary #footer {
  background-color: #48b040;
  height: 5em;
}
/* line 74, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary #footer #theme {
  margin-top: 0.5em;
  text-align: left;
  float: left;
}
/* line 79, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary #footer #powered {
  margin-top: 0.5em;
  text-align: right;
  float: right;
}

/* Menu */
/* Header */
/* line 97, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#summary #header h1 {
  font-size: 69px;
  text-align: center;
  color: #FFFFFF;
}

/* "Styles" */
/* line 106, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#logout_button {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* HREFs */
/* line 113, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
a {
  color: #555;
  text-decoration: underline;
}
/* line 117, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
a:hover, a:visited {
  color: #3c3c3c;
}
/* line 121, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
a:hover {
  text-decoration: underline;
}

/* line 126, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
a.administration_link {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* line 133, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
a.change_data {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Error explanation */
/* line 139, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#error_explanation {
  color: black;
}

/* Nadpisy */
/* line 145, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#main h1 {
  font-size: 33px;
  padding-bottom: 0.4em;
  margin-bottom: 0.8em;
  border-bottom: solid 2px #cbe9c5;
}
/* line 151, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#main h2 {
  font-size: 24px;
  padding-bottom: 0.2em;
  margin-bottom: 0.6em;
}
/* line 156, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#main h3 {
  font-size: 19px;
  margin-top: 1em;
  margin-bottom: 0.9em;
}
/* line 161, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#main h4 {
  font-size: 16px;
  margin-bottom: 0.2em;
  margin-top: 0em;
}
/* line 166, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#main h5 {
  font-size: 13px;
  margin-bottom: 0.1em;
  margin-top: 0em;
}

/* ČÁRA! */
/* line 173, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
.vertical_line {
  border: dashed 2px #879654;
}

/* line 178, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
.line_between_details {
  border: solid 1px #cbe9c5;
}

/* line 182, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 189, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 199, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 205, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#notice {
  color: green;
}

/* line 209, c:/Users/cendr_000/Documents/Aptana3Workspace/UTU on Rails/app/assets/stylesheets/utu.css.scss */
#alert {
  color: red;
  font-size: 20px;
}
