<h1>Další materiály</h1>
<%= label_tag :subject_selector, 'Výběr předmětu' %>
<%= select_tag(:subject_selector, options_from_collection_for_select(Subject.all, :id, :name), {class: 'form-control additional_infos_subject_select'}) %>
<div id="additional_infos_index_placeholder">
  <%= render partial: 'additional_infos/index/index' %>
</div>

