<p>
  <strong>Name:</strong>
  <%= @additional_info.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @additional_info.url %>
</p>

<%= link_to 'Edit', edit_additional_info_path(@additional_info) %> |
<%= link_to 'Back', additional_infos_path %>
