<script src="http://code.highcharts.com/highcharts.js"></script>
<h2>Whoa</h2>
<div id="time_graph" style="width: 100%; height: 400px;"></div>
<%= javascript_tag do %>
    $(function() {
        $('#time_graph').highcharts({
            chart : {
                type : 'column'
            },
            title : {
                text : 'Návštěvy v hodinovém zobrazení'
            },
            xAxis : {
                title : {
                    text : 'Čas návštěvy'
                }
            },
            yAxis : {
                title : {
                    text : 'Počet návštěv'
                }
            },
            <%= j @series %>
        });
    }); 
<% end %>