<h1>Výpis událostí</h1>

<%= link_to 'Nová událost', new_event_path %>

<%= render partial: "_generic_utu_partials/index", locals: { items: @events } %>
<br>

<%= link_to 'Nová událost', new_event_path %>
