<% if lesson.not_normal %>
	<% if lesson.subject.nil? %>
		<td class="lesson_changed" title="<%= lesson.not_normal_comment %>"></td>
	<% else %>
		<%= render partial: "lessons/internal_lesson", locals: { lesson: lesson} %>
	<% end %>
<% else %>
	<% if !lesson.event_name.nil? %>
		<td class="lesson_event"> 
			<div class="lesson_subject">
				<%= lesson.event_name %>
			</div>
		</td>
	<% else %>
		<%= render partial: "lessons/internal_lesson", locals: { lesson: lesson} %>
	<% end %>
<% end %>