<% random = rand(36**10).to_s(36) %>
$("#material_container").append("<div class=\"dialog\" data-identifier=\"<%= random %>\"></div>");

<% @items.each do |item| %>
	$(".dialog[data-identifier='<%= random %>']").append("<%= escape_javascript(render partial: "_generic_utu_partials/show", locals: {item: item, no_hide: true}) %>");
<% end %>

$(".dialog[data-identifier=<%= random %>]").dialog(
{
	close: function(event, ui){
		$(this).dialog("destroy").remove();
	},
	modal: true,
	resizable: false,
	draggable: false,
	dialogClass: "timetable_dialog",
	close: function(event, ui) { $('#wrap').show(); },
	open: function(event, ui) { $('.ui-widget-overlay').bind('click', function () { $(this).siblings('.ui-dialog').find('.ui-dialog-content').dialog('close'); }); }
});