<h2>Administrace</h2>
<%= link_to("Události", events_path) %><br />
<%= link_to("Úkoly", tasks_path) %><br />
<%= link_to("Testy", exams_path) %><br />
<%= link_to("Třídní služby", services_path) %><br />
