<h1>Přehled</h1>
<div class="events">
	<h2>Události</h2>
	<% @events.each do |event| %>
	<div class="line_item">
		<h3><%= event.title %></h3>
		<%= sanitize(event.description) %>
	</div>
	<% end %>
</div>
<div class="tasks">
	<h2>Úkoly</h2>
</div>
<div class="exams">
	<h2>Testy</h2>
</div>
