<h1>Statistika předmětů</h1>
<table id="subjects_stats">
    <tr>
        <th class="subject_header">Předmět</th>
        <th class="subject_header">Další test</th>
        <th class="subject_header">Poslední test</th>
        <th class="subject_header">Průměrná prodleva mezi testy</th>
        <th class="subject_header">Další očekávaný test</th>
        <th class="subject_header">Počet testů</th>
        <th class="subject_header">Počet úkolů</th>
    </tr>
    <% @subjects.each do |subject| %>
        <%= render subject %>
    <% end %>
</table>

