<table>
    <tr>
        <th>Předmět</th>
        <th>Poslední test</th>
        <th>Další test</th>
        <th>Počet testů</th>
        <th>Počet úkolů</th>
    </tr>
    <% @subjects.each do |subject| %>
        <%= render subject %>
    <% end %>
</table>

