<h1>Editing written_exam</h1>

<%= render partial: '_generic_utu_partials/form', locals: { item: @written_exam, type: :written_exam } %>

<%= link_to 'Show', @written_exam %> |
<%= link_to 'Back', written_exams_path %>
