<h1>Seznam testů</h1>

<%= link_to 'Nový test', new_written_exam_path %>

<%= render partial: "_generic_utu_partials/index", locals: { items: @written_exams } %>

<%= link_to 'Nový test', new_written_exam_path %>