.article {
  margin-bottom: 10px;
  .article_published {
    float: right;
  }
  .article_title {
    font-size: 20px;
  }
  .article_text {
    margin-bottom: 3px;
  }
  .article_published_on {
    float: right;
    color: #b5b5b5;
  }
  .article_read_more {

  }
  .article_actions {
    float: right;
  }
}