.details_block div {
  background-color: transparent;
  margin-left: 8px;
  margin-right: 8px;
}

.details_done {
  color: #999999;
}

.details_container, .details_col {
  // override bootstraps 15px
  padding-left: 0;
  padding-right: 0;
}