#menu {
  background-color: $background-color;
  height: 2em;
  width: 45.6em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 7em;
  margin-left: auto;
  margin-right: auto;

  li {
    display: inline;
  }
  h4 {
    font-weight: normal;
    float: left;
    font-size: 14px;
    padding-top: 0.0em;
    margin: 0;
  }
  ul {
    padding-top: 0.3em;
    padding-left: 0.6em;
    margin: 0;
    float: left;
    list-style-type: none;
  }
  a {
    text-align: center;
    float: left;
    width: 9em;
    color: white;
    text-decoration: none;
    padding-bottom: 0.2em;
  }
}