@mixin inner-content {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

#material_body_html {
  #material_container {
    #material_header {
      background-color: $background-color;
      width: 100%;
      height: 60px;
      #material_header_content {
        @include inner-content;
        a {
          text-decoration: none;
        }
        vertical-align: middle;
        #material_header_logo {
          margin-top: 2px;
          &:hover {
            text-shadow: 0 0 3px #ffffff;
          }
        }
        // MENU
        ul#material_nav_menu {
          display: inline-block;
          padding-left: 20px;
          li {
            display: inline;
            list-style: none;
            a {
              float: left;
              text-decoration: none;
              font-size: 14px;
              color: #ffffff;
              display: block;
              font-weight: bold;
              padding: 5px 20px;
              &:hover {
                text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
              }
            }
          }
        }

        // Signup, sign in, class select
        #material_header_info {
          float: right;

          .material_header_info_class {
            margin-left: 5px;
          }

          .btn {
            margin-top: 11px;
          }
        }
      }
    }
    #material_body {
      box-shadow: 0 -2px 2px #888888;
      #material_body_content {
        @include inner-content;
        box-shadow: 0 0 10px rgb(151, 151, 151);
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgb(246, 246, 246);
      }
    }
    #material_footer {
      height: 100px;
      width: 100%;
      background-color: #ffffff;
      #material_footer_content {
        @include inner-content;
        padding-top: 30px;
      }
    }
  }
}