.raking_hour_separator {
  border-bottom: 2px solid #ABABAB;
}

.planned_rakings_table {
  border-collapse: collapse;
}

.planned_raking_list_planned {
  width: 100%;
}

.planned_raking_list_ordinary {
  width: 100%;
}

#planned_raking_list_show_status_messages {
  margin-top: 15px;
}