.service
{
  padding-bottom: 1em;
}

.summary_section {

}

.summary_raking_chance {
  margin-bottom: 8px;
  .summary_raking_chance_title {
    display: inline;
    font-weight: bold;
    font-size: 16px;
  }
  .summary_raking_chance_round {
    display: inline;
    font-size: 85%;
    margin-left: 4px;
    color: #5d5d5d;
  }
  .summary_raking_chance_personalized_info {

  }
  .summary_raking_chance_general_info {

  }
}
