// Place all the styles related to the summary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.service h3
{
  padding-bottom: 0px;
  margin-bottom: 0.3em;
}
.details_block div
{
  width: 370px;
  // kvůli dlouhým slovů - standardně nedělitelné
  word-wrap: break-word;
  background-color: none;
  margin-left: 8px;
  margin-right: 8px;
}
.details td
{
  vertical-align: top;
}
.service
{
  padding-bottom: 1em;
}