// Place all the styles related to the summary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
  padding-bottom: 0.3em;
}

h2
{
  padding-bottom: 0.4em;
}

h3
{
  padding-top: 0.2em;
}

.line_between_details
{
  
}

.details_block div
{
  width: 370px;
  // kvůli dlouhým slovů - standardně nedělitelné
  word-wrap: break-word;
  background-color: none;
  margin-left: 8px;
  margin-right: 8px;
}
td
{
  vertical-align: top;
}
td
{
  
}
table
{
  
}
#middle_detail_block
{
  //border-left: dashed 2px #879654;
  //border-right: dashed 2px #879654;
  //padding-left: 0.8em;
  //padding-right: 0.8em;
  //height: 100%;
}
.service
{
  padding-bottom: 1em;
}
.vertical_line
{
  border: dashed 2px #879654;
}
