// VARIABLES
$main-background-color: #ffffff;
$background-color: #48b040;
$h2-line-color: #cbe9c5;
$text-color: #3c3c3c;

/* Main frames */
body {
    margin: 0px;
    padding: 0px;
    background-color: $background-color;
    width: 100%;
}
#summary {
  margin: 0px auto;
  width: 1200px;
    
  #header {
      padding-top: 1em;
      height: 7em;
      background-color:  $background-color;
  }
  #menu {
      background-color: $background-color;
      height: 2em;
      width: 40.6em;
      text-align: center;
      margin-top: 0.7em;
      margin-bottom: 7em;
      margin-left: auto;
      margin-right: auto;
  }
  #main {
      padding: 4px 15px;
      background-color: $main-background-color;
      color: $text-color;
      height: auto;
     
  }
  #footer {
      background-color: $background-color;
      height: 5em;
  }
}

/* Menu */
#summary #menu
{
  li {
      display: inline;
  }
  ul {
      padding-top: 0.3em;
      padding-left: 0.6em;
      margin: 0;
      float: left;
      list-style-type: none;
  }
  a {
      text-align: center;
      float: left;
      width: 10em;
      color: white;
      text-decoration: none;
      padding-bottom: 0.2em;
  }
}

/* Header */
#summary #header h1 {
    font-size: 69px;
    text-align: center;
    color: #FFFFFF;
}

/* "Styles" */

/* HREFs */
a
{
  text-decoration: underline;
  &:hover, &:visited
  {
    color: $text-color;
  }
  &:hover
  {
    text-decoration: underline;
  }
}

/* Error explanation */
#error_explanation {
    color: black;
}

/* Nadpisy */
#main{
  h1 {
      font-size: 34px;
      padding-bottom: 0.5em;
  }
  h2 {
      font-size: 30px;
      padding-bottom: 0.4em;
      border-bottom: solid 2px $h2-line-color; 
  }
  h3 {
      font-size: 22px;
      line-height: 26px;
      padding-top: 0.1em;
  }
}
/* ČÁRA! */
.vertical_line {
    border: dashed 2px #879654;
}

.line_between_details
{
  border: solid 1px $h2-line-color;
}
