/* Main frames */
body {
    margin: 0px;
    padding: 0px;
    background-color: #48b040;
    min-height: 1080px;
    width: 100%;
}
#summary {
    margin: 0px auto;
    width: 1200px;
}
#summary #header {
    padding-top: 1em;
    height: 7em;
    background-color: #48b040;
}
#summary #menu {
    background-color: #48b040;
    height: 2em;
    width: 36.6em;
    text-align: center;
    margin-top: 0.7em;
    margin-bottom: 9em;
    margin-left: auto;
    margin-right: auto;
}
#summary #main {
    padding: 4px 15px;
    background-color: #404040;
    color: #EEEEEE;
    height: auto;
}
#summary #footer {
    background-color: #48b040;
    height: 5em;
}

/* Menu */
#summary #menu li {
    display: inline;
}
#summary #menu ul {
    padding-top: 0.3em;
    padding-left: 0.6em;
    margin: 0;
    float: left;
    list-style-type: none;
}
#summary #menu a {
    text-align: center;
    float: left;
    width: 7em;
    color: white;
    text-decoration: none;
    padding-bottom: 0.2em;
}

/* "Styles" */
#summary #header h1 {
    font-size: 69px;
    text-align: center;
    color: #FFFFFF;
}
#summary img {
    height: 128px;
    width: 128px;
    float: left;
}

/* Nadpisy */
h1
{
    font-size: 30px;
}
h2
{
    font-size: 27px;
}
h3
{
    font-size: 22px;
}
