

#dick {
  padding-left: 10px;
  margin-bottom: 16px;
  li {
    display: inline;
    a {
      background-color: #679e00;
      border-radius: 4px;
      text-decoration: none;
      padding: 10px 20px;
      color: white;
      &:hover {
        background-color: #78ba00;
      }
      &.current {
        background-color: #78ba00;
      }
    }
  }
}

/* Main frames */
body {
  overflow-y: scroll;

  #background {
    background-color: $background-color;
  }

  #summary {
    margin: 0px auto;
    width: 1200px;

    #header {
      padding-top: 1em;
      height: 7em;
      background-color: $background-color;

      h1 {
        font-size: 69px;
        text-align: center;
        color: #FFFFFF;
        font-weight: bold;
        border-bottom: none;
        //text-shadow: 1px 1px #afafaf;
      }
    }
    #main {
      padding: 1px 15px;
      background-color: $main-background-color;
      color: $text-color;
      border-radius: 10px;
      box-shadow: 0 0 10px #888888;

      height: auto;

    }
    #footer {
      #theme {
        margin-top: 0.5em;
        text-align: left;
        float: left;
      }
      #powered {
        margin-top: 0.5em;
        text-align: right;
        float: right;
      }

      background-color: $background-color;
      height: 5em;
    }
  }
}

#subjects_stats {
  margin-top: -0.5em;
  width: 100%;
  th.subject_header {
    text-align: left;
  }
  td.subject_text_param {
    text-align: left;
  }
  td.subject_name {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }
  background-color: white;
}

/* "Styles" */

#logout_button {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* HREFs */
a {
  color: #555;
  text-decoration: underline;
  &:hover, &:visited {
    color: $text-color;
  }
  &:hover {
    text-decoration: underline;
  }
}

a.administration_link {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
}

a.change_data {
  padding-top: 10px;
  padding-bottom: 10px;
}

.move_cursor {
  //cursor: move;
}

#planned_raking_list_status {
  color: #3c3c3c;
  font-size: 10px;
}
