// VARIABLES
$main-background-color: #ffffff;
$background-color: #48b040;
$h2-line-color: #cbe9c5;
$text-color: #3c3c3c;

/* Main frames */
body {
    margin: 0px;
    padding: 0px;
    background-color: $background-color;
    width: 100%;
    overflow-y: scroll;
}

#menu
{
  
}
