<p id="notice">
    <%= notice %>
</p>

<tr>
	<% if date %>
	    <td> 
	    	<div class="timetable_weekday"><%= I18n.t(:"date.abbr_day_names")[school_day.date.wday] %></div>
	    	<div class="timetable_date"><%= school_day.date.strftime("%d. %m.") %></div>
	    </td>
    <% end %>
    
    <% counter = 0 %>
    <% school_day.lessons.each do |lesson| %>
    	<% counter += 1 %>
    	<% while counter != lesson.serial_number %>
    	   	<% counter += 1 %>
    		<div class="lesson">
              <td></td>
        	</div>
    	<% end %>
       	<%= render lesson %>
    <% end %>
    <% if blank_hours %>
	    <% (9 - (school_day.lessons.last ? school_day.lessons.last.serial_number : 0)).times do |blank| %>
	        <div class="lesson">
              <td></td>
	        </div>
	    <% end %>
	<% end %>
</tr>
