<p id="notice">
    <%= notice %>
</p>

<tr>
    <td> 
    	<div class="timetable_weekday"><%= I18n.t(:"date.abbr_day_names")[school_day.date.wday] %></div>
    	<div class="timetable_date"><%= school_day.date.strftime("%d. %m.") %></div>
    </td>
    
    <% counter = 0 %>
    <% school_day.lessons.each do |lesson| %>
    	<% counter += 1 %>
    	<% while counter != lesson.serial_number %>
    	   	<% counter += 1 %>
    		<div class="lesson">
            	<td></td>
        	</div>
    	<% end %>
       	<%= render lesson %>
    <% end %>
    <% (9 - school_day.lessons.last.serial_number).times do |blank| %>
        <div class="lesson">
            <td></td>
        </div>
    <% end %>
</tr>
