<h3>Administrace</h3>
<%= link_to("Události", events_path, class: 'adminstration_link') %><br />
<%= link_to("Úkoly", tasks_path, class: 'adminstration_link') %><br />
<%= link_to("Testy", exams_path, class: 'adminstration_link') %><br />
<%= link_to("Třídní služby", services_path, class: 'adminstration_link') %><br />