<ul>
    <li>
        <h4>
        <%= link_to("Přehled", utu_path) %>
        </h4>
    </li>
    <li>
        <h4>
        <%= link_to("Podrobnosti", details_path) %>
        </h4>
    </li>
    <li>
        <h4>
        <%= link_to("Rozpis služeb", service_list_path) %>
        </h4>
    </li>
    <li>
        <h4>
        <%= link_to("Nastavení", administration_path) %>
        </h4>
    </li>
</ul>
<script>
    $("li").bind("mouseenter", function() {
        $(this).children().css("borderBottom", "1px solid white")
        $(this).children().animate({
        }, 1000);
    });
    $("li").bind("mouseleave", function() {
        $(this).children().css("borderWidth", "0px")
        $(this).children().animate({
        }, 1000);
    });
</script>