<div id="mainmenu">
    <ul id="menu">
        <li>
            <%= link_to("Přehled", utu_path) %>
        </li>
        <li>
            <%= link_to("Podrobnosti", details_path) %>
        </li>
        <li>
            <%= link_to("Rozpis služeb", service_list_path) %>
        </li>
        <li>
            <%= link_to("Nastavení", administration_path) %>
        </li>
    </ul>
</div>