<% type = item.get_utu_type %>

<%= link_to mi.visibility.md_36, reveal_item_path(id: item.id, type: item.get_utu_type), remote: true, class: 'hide_or_reveal' %>

<h3 class="details_done"><%= item.title %></h3>
